#loading{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3000;
	background: url('../img/loading.gif') center center no-repeat;
	display: none;
}

.flammo_lightbox_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	overflow: auto;
	display: none;
}

.flammo_lightbox{
	background: #FFF;
	margin: 50px 0 0;
	position: relative;
	display: none;
	float: left;
	width: 100%;
	color: #666;
	text-align: center;
}

#aviso .flammo_lightbox p{
	padding: 20px;
	font-size: 14pt;
}

.flammo_lightbox_align{
	margin: 0 auto;
}

#mask{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background:#000;
	opacity:.80;
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	z-index: 1500;
	overflow: auto;
	display: none;
}

.flammo_close_lightbox{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 16px;
	height: 16px;
	display: block;
	background: url('../img/i_close.png') center center no-repeat;
}

@media(max-width:992px){
	.flammo_lightbox_align{
	    width: auto;
	    margin: 0 15px;
	}
}