@import url("bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 15pt;
  background: #e8e8e8; }

a {
  color: #333;
  text-decoration: none; }

a:hover {
  color: #ff5f11;
  text-decoration: none; }

ul,
li,
ol {
  margin: 0;
  padding: 0; }

.full-width, #header,
#main,
#footer, #bg {
  float: left;
  width: 100%; }

.cover-bg {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.grey-bg {
  background: #f4f4f4; }

.left,
#left,
.alignleft {
  float: left; }

.right,
#right,
.alignright {
  float: right; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.relative {
  position: relative; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-overflow {
  overflow: hidden !important; }

.full {
  width: 100%; }

.half {
  width: 50%; }

.secondary-color {
  color: #333 !important; }

.primary-color {
  color: #ff5f11 !important; }

.primary-bg {
  background: #ff5f11 !important; }

.secondary-bg {
  background: #333 !important; }

img {
  max-width: 100%;
  height: auto; }

form.lightbox-form {
  margin: 30px; }

form.default .input-wrapper {
  display: block;
  margin: 0 0 10px;
  position: relative;
  border-radius: 4px;
  background: #333;
  color: #FFF;
  padding: 10px; }

form.default .input-wrapper input,
form.default .input-wrapper select,
form.default .input-wrapper textarea {
  border: none;
  background: #333;
  color: #FFF;
  height: 25px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12.5pt; }

form.default .input-wrapper input:focus,
form.default .input-wrapper select:focus,
form.default .input-wrapper textarea:focus,
form.default button:focus {
  outline: none;
  box-shadow: none;
  border: none; }

form.default.white-inputs .input-wrapper,
form.default.white-inputs .input-wrapper input,
form.default.white-inputs .input-wrapper select,
form.default.white-inputs .input-wrapper textarea {
  background: #FFF;
  color: #333; }

form.default.white-inputs .input-wrapper textarea {
  height: 185px; }

form.default ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFF;
  font-family: "Roboto", sans-serif; }

form.default ::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
  font-family: "Roboto", sans-serif; }

form.default :-ms-input-placeholder {
  /* IE 10+ */
  color: #FFF;
  font-family: "Roboto", sans-serif; }

form.default :-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
  font-family: "Roboto", sans-serif; }

form.default.white-inputs ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333; }

form.default.white-inputs ::-moz-placeholder {
  /* Firefox 19+ */
  color: #333; }

form.default.white-inputs :-ms-input-placeholder {
  /* IE 10+ */
  color: #333; }

form.default.white-inputs :-moz-placeholder {
  /* Firefox 18- */
  color: #333; }

form.default button {
  color: #FFF;
  background: #ff5f11;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10pt;
  height: 45px;
  border: none;
  border-radius: 4px; }

form.default label.error {
  position: absolute;
  font-size: 9pt;
  top: 1px;
  right: 5px;
  color: #CC0000; }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: 'Roboto Slab', serif;
  line-height: normal;
  margin: 0 0 1em; }

.content h1 {
  font-size: 35pt; }

.content h2 {
  font-size: 28pt; }

.content h3 {
  font-size: 22pt; }

#bg {
  background: url("../img/bg.jpg") bottom center repeat-x; }

/*RESPONSIVE ADJUSTMENTS*/
/*col-xs*/
/*col-sm*/
/*ALL MOBILE*/
/*col-md*/
/*col-lg*/

/*# sourceMappingURL=style.css.map */
