@import url("bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

$text-color: #666;
$primary-color: #f65300;
$secondary-color: #333;
$font-stack: 'Roboto', sans-serif;

body{
	font-family: $font-stack;
	color: $text-color;
	font-size: 15pt;
	background: #e8e8e8;
}

body.page-resultado{
	background: #cfdce4;
}

a{
	color: $text-color;
	text-decoration: none;
}

a:hover{
	color: $primary-color;
	text-decoration: none;
}

ul,
li,
ol{
	margin: 0;
	padding: 0;
}

.full-width{
	float: left;
	width: 100%;
}

.cover-bg{
	background: no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.grey-bg{
	background: #f4f4f4;
}

.left,
#left,
.alignleft{
	float: left;
}

.right,
#right,
.alignright{
	float: right;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.relative{
	position: relative;
}

.no-margin-top{
	margin-top: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

.no-margin-left{
	margin-left: 0 !important;
}

.no-margin-right{
	margin-right: 0 !important;
}

.no-padding-top{
	padding-top: 0 !important;
}

.no-padding-bottom{
	padding-bottom: 0 !important;
}

.no-padding-left{
	padding-left: 0 !important;
}

.no-padding-right{
	padding-right: 0 !important;
}

.no-overflow{
	overflow: hidden !important;
}

.full{
	width: 100%;
}

.half{
	width: 50%;
}

.secondary-color{
	color: $secondary-color !important;
}

.primary-color{
	color: $primary-color !important;
}

.primary-bg{
	background: $primary-color !important;
}

.secondary-bg{
	background: $secondary-color !important;
}

img{
	max-width: 100%;
	height: auto;
}

form.lightbox-form{
	margin: 30px;
}

form.default .input-wrapper{
	display: block;
	margin: 0 0 10px;
	position: relative;
	border-radius: 4px;
	background: #FFF;
	color: $text-color;
	padding: 17px;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    inset 0px 1px 2px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         inset 0px 1px 2px 0px rgba(50, 50, 50, 0.45);
}

form.default .input-wrapper input,
form.default .input-wrapper select,
form.default .input-wrapper textarea{
	border: none;
	background: #FFF;
	color: $text-color;
	height: 25px;
	width: 100%;
	font-family: $font-stack;
	font-size: 12.5pt;
}

form.default .input-wrapper input:focus,
form.default .input-wrapper select:focus,
form.default .input-wrapper textarea:focus,
form.default button:focus{
	outline: none;
	box-shadow: none;
	border: none;
}

form.default.white-inputs .input-wrapper,
form.default.white-inputs .input-wrapper input,
form.default.white-inputs .input-wrapper select,
form.default.white-inputs .input-wrapper textarea{
	background: #FFF;
	color: $text-color;
}

form.default.white-inputs .input-wrapper textarea{
	height: 185px;
}

form.default ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text-color;
  font-family: $font-stack;
}

form.default ::-moz-placeholder { /* Firefox 19+ */
  color: $text-color;
  font-family: $font-stack;
}

form.default :-ms-input-placeholder { /* IE 10+ */
  color: $text-color;
  font-family: $font-stack;
}

form.default :-moz-placeholder { /* Firefox 18- */
  color: $text-color;
  font-family: $font-stack;
}


form.default.white-inputs ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text-color;
}

form.default.white-inputs ::-moz-placeholder { /* Firefox 19+ */
  color: $text-color;
}

form.default.white-inputs :-ms-input-placeholder { /* IE 10+ */
  color: $text-color;
}

form.default.white-inputs :-moz-placeholder { /* Firefox 18- */
  color: $text-color;
}


form.default .btn-prosseguir,
form.default button{
	color: #FFF;
	background: url('../img/bg-btn.png') bottom center;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14pt;
	height: 80px;
	border: none;
	border-radius: 4px;
	margin: 30px 0;
}

form.default label.error{
    position: absolute;
    font-size: 9pt;
    bottom: 5px;
    left: 18px;
    color: #CC0000;
}

form.default button.absolute-button{
	position: absolute;
	top: 10px;
	right: 10px;
	height: 45px;
	font-size: 10pt;
	margin: 0;
}

form.default .btn-prosseguir{
	background-image: url('../img/bg-btn-prosseguir.png');
	height: 80px;
	padding: 0 60px;
	display: inline-block;
	line-height: 78px;
}

#header,
#main,
#footer{
	@extend .full-width;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6{
	font-family: 'Roboto Slab', serif;
	line-height: normal;
    margin: 0 0 1em;
    color: $primary-color;
}

.content h1{
	font-size: 25pt;
}

.content h2{
	font-size: 20pt;
}

.content h3{
	font-size: 16pt;
}

.texto-cadastro h1:before,
.texto-cadastro h2:before,
.texto-cadastro h3:before{
	content: '';
	display: block;
	max-width: 230px;
	margin: 40px auto;
	height: 2px;
	background: $primary-color;
}

.form-cadastro{
	margin: 20px 0 100px;
}

.form-simulador{
	margin: 40px 0;
}

.page-home #bg{
	@extend .full-width;
	background: url('../img/bg.jpg') bottom center repeat-x;
}

#header{
	text-align: center;
	padding: 30px 0 60px;
}

#header img{
	position: relative;
	z-index: 1;
}

#main{
	text-align: center;
}

#footer{
	background: url('../img/bg-footer.jpg') center center;
	color: #FFF;
	padding: 40px 0;
}

.share-footer{
	margin: 13px 0 0;
}

.share-text{
	float: left;
	margin: 0 20px 0 0;
	line-height: 42px;
}

.a2a_default_style a{
	padding: 5px !important;
	border-radius: 100%;
	background: #FFF;
	margin: 0 8px;
}

.logo-footer{
	float: right;
}

#cycle-form,
.slide-cycle-form{
	float: left;
	width: 100% !important;
}

#cycle-form{
	margin: 0 0 60px;
}

.texto-resultado{
	text-align: left;
	margin-bottom: 60px;
}

.img-resultado{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.container-resultado{
	position: relative;
	min-height: 600px;
}

.conteudo-resposta{
	@extend .full-width;
}

.conteudo-resposta .content{
	text-align: left;
	margin: 60px 0;
}

.conteudo-resposta .container{
	position: relative;
}

.right-content .img-resultado{
	right: auto;
	left: 0;
}

.content a{
	display: inline-block;
	border: solid 1px $text-color;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 11pt;
}

/*RESPONSIVE ADJUSTMENTS*/

/*col-xs*/
@media(max-width:767px){
	#bg{
		background: #e8e8e8;
	}

	#footer{
		background: $primary-color;
		text-align: center;
	}

	.share-footer{
		margin: 0 0 20px;
	}

	.share-text{
		float: none;
		margin: 0 0 10px;
	}

	.a2a_kit{
		text-align: center;
	}

	.a2a_kit a{
		float: none !important;
		display: inline-block;
	}

	.logo-footer{
		float: none;
	}
}

/*col-sm*/
@media(min-width:768px) and (max-width:992px){
}

/*ALL MOBILE*/
@media(max-width:992px){
}

/*col-md*/
@media(min-width:992px) and (max-width:1200px){
}

/*col-lg*/
@media(min-width:1200px){
}