.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.table-buttons {
  text-align: right;
  margin: 0 0 20px; }

.rich-text {
  width: 100%;
  height: 250px;
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
  padding: 6px 12px; }

.main-footer {
  text-align: center; }

.modal .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal .overlay .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px; }

.table > tbody > tr > td.versus-partida {
  font-size: 30pt;
  vertical-align: middle;
  text-align: center; }

.loading-overlay {
  display: none; }

.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
  border: none !important; }

.arrows-td {
  text-align: center;
  vertical-align: middle !important;
  cursor: pointer; }

.title-marged-bottom {
  margin-bottom: 20px; }

.select2 {
  width: 100% !important; }

.ember-img-wrapper {
  position: relative;
  margin: 15px 0 0;
  display: inline-block; }

.ember-img-wrapper a {
  position: absolute;
  top: 9px;
  right: 10px; }

.align-middle {
  vertical-align: middle !important; }

.marged-bottom {
  margin-bottom: 30px !important; }

.sep-files {
  margin: 30px 0;
  height: 1px;
  background: #CCC; }

#arquivos-inputs [class~='sep-files']:last-of-type {
  display: none; }

.view-file-link {
  color: #333;
  display: inline-block;
  margin: 5px 0 0; }

#order-table tbody tr {
  cursor: move; }

.loader-reservas {
  display: none; }

.form-reserva .input-wrapper {
  padding: 10px;
  border: solid 1px #d2d6de;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 0 15px; }

.form-reserva .input-wrapper select,
.form-reserva .input-wrapper input {
  width: 100%;
  background: transparent;
  border: none; }

.label-instrucao {
  display: block;
  text-align: center;
  margin: 10px 0; }

.btn-periodo {
  background: #c3262c;
  color: #FFF;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  margin: 0 0 10px;
  display: none;
  font-size: 10pt; }

.btn-periodo.info-visible {
  display: inline-block; }

.btn-periodo:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: '';
  background: url("../img/icon-calendar.png");
  margin: 0 10px -7px 0; }

.btn-periodo:hover {
  color: #FFF; }

.infos-selection-calendar-wrapper .btn-default,
.form-reserva button {
  background: #c3262c;
  color: #FFF;
  padding: 15px 20px;
  border: none;
  color: #FFF;
  display: none; }

.infos-selection-calendar-wrapper .btn-default {
  display: inline-block; }

.form-reserva button.info-visible {
  display: inline-block; }

.lightbox-title {
  color: #c3262c;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  margin: 30px 0 15px; }

.fc-day-header {
  padding: 10px !important;
  background: #c3262c;
  color: #FFF; }

.fc-axis {
  background: #b1b1b1;
  color: #FFF; }

#calendar {
  margin-bottom: 35px;
  width: 100%;
  transition: width 0.4s;
  float: left; }

.calendar-wrapper {
  float: left;
  width: 100%; }

.infos-selection-calendar-wrapper {
  float: right;
  width: 0%;
  overflow: hidden;
  transition: width 0.4s;
  text-align: left; }

.calendar-wrapper.selected #calendar {
  width: 70%; }

.calendar-wrapper.selected .infos-selection-calendar-wrapper {
  width: 25%; }

#countdown_wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #c3262c;
  padding: 15px 25px;
  border-radius: 5px;
  z-index: 99999;
  color: #FFF;
  cursor: pointer;
  display: none; }

#countdown_wrapper:after {
  content: '?';
  position: absolute;
  top: 5px;
  right: 10px;
  color: #FFF;
  font-size: 10pt;
  opacity: 0; }

#countdown_wrapper:hover:after {
  opacity: 1; }

.tooltip-countdown-trigger:hover {
  color: #FFF; }

.tooltip-countdown {
  font-size: 10pt;
  margin: 10px 0 0;
  display: none; }

.lightbox-return {
  margin: 0 0 20px;
  font-size: 14pt;
  text-align: center;
  padding: 10px 15px;
  color: #c3262c;
  text-align: center;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: none; }

.select_n_suite {
  float: right; }

.select_n_suite .input-wrapper {
  padding: 10px; }

.padding_box_calendario {
  margin: 0 30px; }

.fc-ltr .fc-axis {
  padding: 5px !important; }

.infos-reserva,
.infos-reserva .info {
  float: left;
  width: 100%; }

.infos-reserva .info {
  margin: 0 0 20px; }

.infos-reserva .info h3 {
  margin-top: 0; }

.infos-reserva .img-suite-info {
  float: left;
  margin: 0 20px 0 0; }

/*# sourceMappingURL=ember.css.map */
